In [10]:
# import Data Manipulation Libraries
import numpy as np
import pandas as pd

#Import Data Visualization Libraries 
import matplotlib.pyplot as plt
import seaborn as sns

#Import Filter Warning Libraries
import warnings
warnings.filterwarnings('ignore')

#Import Logging Files
import logging
logging.basicConfig(level= logging.INFO,
                    filemode= 'w',
                    filename= 'model.log',
                    format= '%(asctime)s - %(levelname)s-%(message)s', force = True)

In [ ]:
#Data Import Using Pandas Function

url = 'https://raw.githubusercontent.com/vinnithakur/BANKTELEMARKETING_MLMODEL/refs/heads/main/BankTelemarketing.csv'

df =  pd.read_csv(url,sep = ';')

df.sample(frac =1)  #Shuffle Dataset

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
28032,55,management,married,unknown,no,559,no,no,cellular,28,jan,271,2,-1,0,unknown,no
25488,50,services,divorced,secondary,no,2015,yes,no,cellular,19,nov,242,1,-1,0,unknown,no
18186,45,management,married,tertiary,no,81,no,yes,cellular,30,jul,61,3,-1,0,unknown,no
36450,31,technician,single,secondary,no,2377,yes,no,cellular,11,may,350,3,-1,0,unknown,no
12483,33,admin.,married,tertiary,no,205,no,no,unknown,1,jul,156,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22930,52,technician,married,secondary,no,526,no,yes,cellular,26,aug,60,6,-1,0,unknown,no
33797,34,technician,single,tertiary,no,144,yes,yes,cellular,23,apr,115,16,-1,0,unknown,no
39709,42,management,married,tertiary,no,261,no,no,cellular,27,may,207,5,-1,0,unknown,no
9012,58,blue-collar,married,secondary,no,590,no,yes,unknown,5,jun,133,1,-1,0,unknown,no
28700,27,technician,single,tertiary,no,261,yes,yes,cellular,30,jan,195,2,-1,0,unknown,no

In [11]:
#Lock file
logging.info('Dataset Uploaded Successfully.....')

In [8]:
#Checking Data Shape and Data Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [12]:
logging.info('Dataset Uploaded Successfully.')